<div class="menu-screen">
  <div class="close-icon">
    <span class="material-icons" (click)="onClose()"> X </span>
  </div>
  <div class="header-nav">
    <button
      class="header-nav__item"
      (click)="onClose()"
      *ngFor="let link of navLinks"
      [disabled]="link.disabled"
      [routerLink]="link.url"
      [attr.aria-label]="link.text"
    >
      {{ link.text }}
    </button>

    <a
      class="header-nav__item"
      href="https://medium.com/@vugar-005"
      target="_blank"
      [attr.aria-label]="'Blog'"
    >
      BLOG
    </a>
  </div>
</div>
